<h1>Editing movie detail</h1>

<%= render "form", movie_detail: @movie_detail %>

<br>

<div>
  <%= link_to "Show this movie detail", @movie_detail %> |
  <%= link_to "Back to movie details", movie_details_path %>
</div>
